@import "tailwindcss";

@import "../styles/fonts.css";

:root {
  --background: #030303;
  --foreground: #fffff6;
  --accent: #b5ff4d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Volksans", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
